.sell-container {
  .section-item {
    margin: 2em 0 0;
    float: none;
    display: inline-block;
    display: inline-flex;
    h3 {
      font-weight: 600;
      font-size: 22px;
    }
  }
  .section-item > a {
    display: block;
    width: 100%;
  }
  a {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    transition: background-color .4s linear, color .4s linear;
    color: #16accf;
  }
  img.fluid {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .caption {
    text-align: left;
    h3 {
      color: #5D5C5D;
      .small {
        color: #16accf;
      }
    }
    .text-muted {
      color: #5D5C5D;
      font-weight: 300;
    }
  }
}
