html {
  background: #FFF;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #384452;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
}

.text-muted, body, p {
  color: #5D5C5D;
  font-weight: 300;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-body {
  font-size: 100%;
  padding-top: 51px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}